<div class="lqd-persona{{#if personaSize }}-{{ personaSize }}{{/if}}">
    {{>molecules-avatar-presence}}
    <div class="lqd-persona-data">
        <div class="lqd-persona-name">{{ name }}</div>
        <div class="lqd-persona-function"><span>{{ function }}</span></div>
        <div class="lqd-persona-statustext"><span>{{ status-text }}</span></div>
        <div class="lqd-persona-available"><span>{{ available }}</span></div>
    </div>
</div>