{{# if ddItems }}
<div class="hoo-buttoncmd{{ modifier }}" aria-haspopup="true">
    <button class="hoo-buttoncmd{{ modifier }}" aria-haspopup="true">
        <span class="hoo-button-icon" aria-hidden="true"> {{> atoms-icon iconname=iconAction }} </span>
        <span class="hoo-button-label"> {{label}} </span>
        {{!-- When no drop down items are shown there is not need to show the dropdown --}}
        <span class="hoo-button-icon hoo-buttonchevron"> {{> atoms-icon iconname=iconDown }} </span>
    </button>
    {{!-- When no drop down items are shown there is not need to show the dropdown --}}
    {{> atoms-menu-flyouts contextItems=ddItems }}
</div>
{{ else }}
{{!-- Variant when no command bar is present --}}
<div class="hoo-buttoncmd{{ modifier }}">
    <button class="hoo-buttoncmd{{ modifier }}">
        <span class="hoo-button-icon" aria-hidden="true"> {{> atoms-icon iconname=iconAction }} </span>
        <span class="hoo-button-label"> {{label}} </span>
        {{!-- When no drop down items are shown there is not need to show the dropdown
        * No Chevron
        --}}
    </button>
    {{!--
    * No Flyout gets rendered either
    --}}
</div>
{{/ if }}