<!DOCTYPE html>
<html lang="{{ lang }}" class="{{ htmlClass }}">
  <head>
    <title>{{ title }} - Fluent UI</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../styleguide/css/pattern-lab-overrides.css?{{ cacheBuster }}" media="all" />
     <base target="_top">
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}">
