<!DOCTYPE html>
<html lang="{{ lang }}" class="{{ htmlClass }}">
  <head>
    <title>{{ seoTitle patternPartial }}{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../js/prismjs/prism.css" media="all" />
    <link rel="stylesheet" href="../../styleguide/css/pattern-lab-overrides.css?{{ cacheBuster }}" media="all" />
    <link rel="canonical" href="https://lab.n8d.studio/htwoo/htwoo-core/?p={{ patternPartial }}">
    <meta name="keywords" content="{{ seoKeyword patternPartial }}, Fluent Design, Fluent UI, Microsoft Design, Microsoft UX, Microsoft UX, SharePoint, Microsoft Teams, Microosoft Eco System, full-stack developer, SharePoint Framework, SPFx, Microsoft Teams Toolkit, Fluent UI 9, pattern library, style guide, design pattern"/>
     <base target="_top">
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}">