{{#checkbox}}
<input type="checkbox" name="{{ id }}" id="{{ id }}" value="" class="hoo-checkbox" {{#if disabled }} disabled="{{ disabled }}" 
    aria-disabled="{{ disabled }}"  {{/if}}><label for="{{ id }}">{{ label }}</label>
{{/checkbox}}