{{#input.text}}
<div class="hoo-input-group">
    <input class="hoo-input-text" type="text" {{#if getLastId}}id="{{ getLastId }}"{{/if}} placeholder="{{ placeholder }}" data-suffix="{{inputSuffix}}" {{#ifCond descRef '||' errorRef}} aria-describedby="{{#if descRef}}{{descRef}}-{{getLastId}}{{/if}} {{#if errorRef}}{{errorRef}}-{{ getLastId }}{{/if}}"{{/ifCond}}>
    <div class="hoo-input-suffix">{{inputSuffix}}</div>
</div>
{{/input.text}}