<ul class="sg-colors">

    {{# items }}
    <li class="sg-swatch">
        <span class="sg-swatchbox" style="background: {{ value }};"></span>
        <span class="sg-label">
            {{ name }}
            <br /> {{ value }}
            <br /> {{ comment }}
        </span>
    </li>
    {{/ items }}

</ul>
<!--end sg-colors-->

<small>{{{ meta.description }}}</small>
