<div class="lqd-toggle">
    <input type="checkbox" class="lqd-toggle-cb" name="{{ toggleName }}" id="{{ toggleID }}"><label for="{{ toggleID }}" class="lqd-toggle-label"><span class="lqd-toggle-slider"></span><span class="lqd-toggle-checked">{{ labelChecked }}</span><span class="lqd-toggle-unchecked">{{ labelUnchecked }}</span></label>
</div>