<table class="lqd-table sticky-head">
    <thead>
        <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>Date Modifed</th>
            <th>Modified by</th>
            <th>File Size</th>
        </tr>
    </thead>
    <tbody>
        {{#each dataSet }}
        <tr>
            <td><img src="{{ Icon }}"></td>
            <td>{{ Filename }}</td>
            <td>{{ ModifiedBy}}</td>
            <td>{{ Modified }}</td>
            <td>{{ FileSize }}</td>
        </tr>
        {{/each}}
    </tbody>
    <tfoot>
        <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>Date Modifed</th>
            <th>Modified by</th>
            <th>File Size</th>
        </tr>
    </tfoot>
</table>