<table class="lqd-table compact" >
    <thead class="is-sticky top">
        <tr>
            <th class="is-sticky top left">Icon</th>
            <th class="is-sticky top left">Name</th>
            <th>Date Modifed</th>
            <th>Modified by</th>
            <th>File Size</th>
        </tr>
    </thead>
    <tbody>
        {{#each dataSet }}
        <tr>
            <td class="is-sticky left"><img src="{{ Icon }}"></td>
            <td class="is-sticky left">{{ Filename }}</td>
            <td class="align-center">{{ ModifiedBy}}</td>
            <td class="align-right">{{ Modified }}</td>
            <td>{{ FileSize }}</td>
        </tr>
        {{/each}}
    </tbody>
    <tfoot>
        <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>Date Modifed</th>
            <th>Modified by</th>
            <th>File Size</th>
        </tr>
    </tfoot>
</table>