{{# items }}
<button class="{{ classname }}">
    <div class="lqd-buttoncomp-label">{{ label }}</div>
    <div class="lqd-buttoncomp-desc">{{ desc }}</div>
</button>
<br>
{{/ items }}

{{# items }}
<button class="{{ classname }}" disabled="true" aria-disabled="true">
    <div class="lqd-buttoncomp-label">{{ label }}</div>
    <div class="lqd-buttoncomp-desc">{{ desc }}</div>
</button>
<br>
{{/ items }}

<br>
Disabled state for primary and standard button was adjusted to the same result.
<br>